<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootlearn.db.mappers.ice.Usermapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springbootlearn.db.domain.ice.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="sex" property="sex"/>
        <result column="id_number" property="idNumber"/>
        <result column="avatar" property="avatar"/>
        <result column="status" property="status"/>

    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,phone
        ,sex,id_number
        ,avatar,status

    </sql>

    <select id="selectAllByIdOrderByAgeDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where
        id = #{id,jdbcType=NUMERIC}
        order by id desc
    </select>
    <select id="selectUser" resultType="com.example.springbootlearn.db.domain.ice.User">
        select
        <include refid="Base_Column_List"/>
        from user
        <where>
            <if test="data.id != null">
                and id = #{data.id}
            </if>
            <if test="data.name != null">
                and name = #{data.name}
            </if>
            <if test="data.phone != null">
                and phone = #{data.phone}
            </if>

        </where>
        order by id desc
    </select>

</mapper>
